[*.{ps1,psd1,psm1}]
indent_style = space
indent_size = 2
insert_final_newline = false

[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = false
csharp_new_line_before_open_brace = none:error
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false