# Code Coverage Results
coverage/
coverage.xml
# Benchmark Results
BenchmarkDotNet.Artifacts
# Visual Studio
.vs/
# VSCode Ionide
.ionide/
#JetBrains
csharp/.idea/
# Third Party DLLs
Prelude/bin/Spectre.Console.dll
