version: 1.0.{build}

image:
  - Visual Studio 2019
  - Ubuntu

platform:
  - Any CPU

matrix:
  fast_finish: true

install:
  - ps: ./util/Invoke-Setup.ps1
  - ps: dotnet tool install --global Codecov.Tool

build_script:
  - ps: ./Invoke-Task.ps1 -Lint -CI
  - ps: ./Invoke-Task.ps1 -Lint -Plus -CI

for:
-
  matrix:
    only:
      - image: Ubuntu

  test_script:
  - ps: ./Invoke-Task.ps1 -Test -Tags 'Remote' -Platform 'linux' -WithCoverage

test_script:
  - ps: ./Invoke-Task.ps1 -Test -Tags 'Remote' -Platform 'windows' -WithCoverage

after_test:
  - ps: codecov -f "**/coverage.xml" -t $Env:CODECOV_TOKEN