version: 1.0.{build}

image: Visual Studio 2019

platform:
  - Any CPU

matrix:
  fast_finish: true

install:
  - ps: ./Invoke-Setup.ps1
  - ps: dotnet tool install --global Codecov.Tool

build_script:
  - ps: ./Invoke-Task.ps1 -Lint -CI

test_script:
  - ps: ./Invoke-Task.ps1 -Test -Tags 'Remote' -Platform 'windows' -WithCoverage

after_test:
  - ps: codecov -f "**/coverage.xml" -t $Env:CODECOV_TOKEN